body {
	background-image: url("../images/fondo-negro.jpg");
	background-size: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

table{
  border-collapse: collapse;
}
tr, td, img {
  margin: 0; padding: 0; border: 0;
} 

#frase4, #frase5 {
	color: #A4A4A4;
	font-family: Arial, Helvetica, sans-serif;
}
#frase4{
	font-size: 17px;
	padding-left: 650px;
	font-style: italic;
	position: relative;
	animation: animafrase4 8s;
	-moz-animation: animafrase4 8s;
	-o-animation: animafrase4 8s;
	-webkit-animation: animafrase4 8s;
}
#frase5{
	font-size: 33px;
	padding-left: 350px;
	font-style: italic;
	position: relative;
	font-weight: bold;
	animation: animafrase5 8s;
	-moz-animation: animafrase5 8s;
	-o-animation: animafrase5 8s;
	-webkit-animation: animafrase5 8s;
}

#frase6{
	color: #fff;
	font-family: 'Baskerville old face';	
	font-size: 25px;
	padding-left: 700px;
	position: relative;
	animation: animafrase6 8s;
	-moz-animation: animafrase6 8s;
	-o-animation: animafrase6 8s;
	-webkit-animation: animafrase6 8s;
}

#contenedor{
	margin-top: -40px;
}

#logo_contacto{
  margin-top:40px;
  padding:5px;
}

#form_contacto{ margin-top:10px;}

#form_contacto{
  width:80%;
  background:#2E2E2E;
  padding:15px 0px;
}

#form_contacto > .scontacto{
  width:100% !important;
  margin-bottom: 5px;
}

#form_contacto > .scontacto > span {
  float:left;
  margin-right: 10px;
  margin-left: 25px;
  width:10px;
  color:#fff;
  font-family: 'Arial';
}
input[type='text'], input[type='email'], textarea{
	background-color: #6E6E6E;
	border: none;
	margin:0;
	color:#fff;
}

input[type='text'], input[type='email']{
	height: 30px;
}
#form_contacto > .scontacto > input[type="submit"]{
  margin-top:20px;
}

#form_contacto > .scontacto > input[type="text"], #form_contacto > .scontacto > input[type="email"],#form_contacto > .scontacto > textarea {
  width: 80%;
}

#contactoBtn{
	border: solid #fff 1px;
	background-color: #2E2E2E;
	padding:5px;
}

#contactoBtn a{
	text-decoration: none;
	font-size: 30px;
	color:#fff;
}

#direccion p{
	color:#fff;
	line-height: 2px;
	font-size: 12px;
	height: auto;
	text-align: center;
}
footer{
	color: #fff;
    padding-top: 15px;
    font-size: 12px;
}

footer a{
    text-decoration: none; 
    color: #fff;
}

footer p{
    text-align: right;
    margin-right: 140px;
    line-height: 2px;
}
/*--- Animacion 4 ---*/

@keyframes animafrase4{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1 }	
}
@-moz-keyframes animafrase4{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1}	
}
@-o-keyframes animafrase4{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1}	
}
@-webkit-keyframes animafrase4{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1}	
}

/*--- Animacion 5 ---*/

@keyframes animafrase5{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1 }	
}
@-moz-keyframes animafrase5{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1}	
}
@-o-keyframes animafrase5{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1}	
}
@-webkit-keyframes animafrase5{
	from {left:-550px; opacity: 0}
	to{left:0px; opacity: 1}	
}

/*--- Animacion 6 ---*/

@keyframes animafrase6{
	from {left:-500px; opacity: 0}
	to{left:0px; opacity: 1}	
}
@-moz-keyframes animafrase6{
	from {left:-500px; opacity: 0}
	to{left:0px; }	
}
@-o-keyframes animafrase6{
	from {left:-500px; opacity: 0}
	to{left:0px; opacity: 1}	
}
@-webkit-keyframes animafrase6{
	from {left:-500px; opacity: 0}
	to{left:0px; opacity: 1}	
}